html, body{
    padding: 0px;
    margin: 0px;
}
#container{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    background-color: light-pink;
    color: white;
    text-align: center;
    padding: 25px;
}