<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Recovery</title>
        <link rel = "stylesheet" href = "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div id = "container">
            <div id = "header">
                <h1>Sweet buns</h1>
                <p>Live tasty!</p>
            </div>
        <div id = "formContainer">
            <h2>Enter your email to recover</h2>
            <form action>
                <input type = "email" id = "email" name = "email" placeholder = "type your email">
                <br>
                <button id="enter">Restore password</button></button>
            </form>

            <p>
                <a href = "{{ url_for('index') }}">Input</a>
                <a href = "{{ url_for('registration') }}">Registration</a>
            </p>
       </div>

    </div>
        <script>

            let body = document.querySelector('body');
            document.querySelector('#red').onclick = function() {
                body.style.backgroundColor = 'red';
            };
            document.querySelector('#green').onclick = function() {
                body.style.backgroundColor = 'green';
            };
            document.querySelector('#blue').onclick = function() {
                body.style.backgroundColor = 'blue';
            };

        </script>
    </body>
</html>