<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Хостинг</title>
        <meta charset="utf-8" />
        <link rel = "stylesheet" href = "{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div id = "container">
            <div id = "head">
            <div><center><h1>WEB-site</h1></center></div>
            </div>
            <div id = "formContainer">
                <center>
                <form action = "{{ url_for('registration') }}" method="POST" autocomplete="off">

            <label for = "userName">name</label>
            <input type = "text" id = "userName" name= "userName" placeholder = "type ur login" required>
            <br>

            <label for = "email">email</label>
            <input type = "email" id = "email" name= "email" placeholder = "type ur email" required>
            <br>

            <label for = "password">password</label>
            <input type = "password" id = "password" name= "password" placeholder = "type ur password" required>
            <br>
                    <div class="msg">{{ msg }}</div>
                    <br>


            <button id="register">Регистрация</button>

                </form>
                </center>

            <center>
                <p><a href = "{{ url_for('index') }}">Вход</a>
                    <a href = "{{ url_for('login') }}">Забыли пароль?</a>
                </p>
            </center>
            </div>
        </div>
        <script>

            let body = document.querySelector('body');
            document.querySelector('#red').onclick = function() {
                body.style.backgroundColor = 'red';
            };
            document.querySelector('#green').onclick = function() {
                body.style.backgroundColor = 'green';
            };
            document.querySelector('#blue').onclick = function() {
                body.style.backgroundColor = 'blue';
            };

        </script>
    </body>
</html>

